@font-face {
  font-family: "Connection";
  src: url("../../assets/font/Connection.ttf") format("truetype");
}
body {
  font-size: 10px;
  color: black;
  background-color: #fdfdfd;
  margin: 0;
  padding: 0;
}
body div.container {
  text-align: center;
  margin: 0;
  padding: 0;
}
body div.container div#game {
  margin: 0;
  padding: 0;
  height: 100vh;
}
body div.container canvas {
  box-shadow: 0px 0px 15px #7d6406;
}
